
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-color: rgba(127, 255, 212, 0.247);
    
}
h1{
    padding-top:50px ;
    font-family: 'Itim', cursive;
    text-align: center;

}
 .card{
     padding-top: 50px;
    
 }
 .btn{
     margin-left: 50px;
     margin-bottom: 30px;
     
 }